        String  in python 
one string is made then it cannot be change

String  are  unordered , changeable , and allow to duplicate values

In [8]:
y = 'example of string of "",'',""" """,'
print(y)
x = """1. India, officially the Republic of India, is a country in South Asia. 
It is the seventh-largest country in the world by area and the most populous country. 
Bounded by the Indian Ocean on the south, the Arabian Sea """
print(x)
a = ('2. hii')
print(a)
b = "3. kasa kai"
print(b)

c = """4. India, officially the Republic of India, is a country in South Asia. It is the seventh-largest country in the world by area and the most populous country. Bounded by the Indian Ocean on the south, the Arabian Sea """
print(c)
print(type(b))

example of string of "",,""" """,
1. India, officially the Republic of India, is a country in South Asia.
It is the seventh-largest country in the world by area and the most populous country.
Bounded by the Indian Ocean on the south, the Arabian Sea
2. hii
3. kasa kai
4. India, officially the Republic of India, is a country in South Asia. It is the seventh-largest country in the world by area and the most populous country. Bounded by the Indian Ocean on the south, the Arabian Sea
<class 'str'>

In [16]:
#index for string from frount
a = "hello students"
print(a[11])
print(type(a))

n
<class 'str'>

In [25]:
# index for string from back
a = "hello students"
print(a[-4])
print(type(a))

e
<class 'str'>

In [26]:
# slicing of strings

s = "hello student how are you ?"
print(s[0:5])

hello

In [5]:
# slicing from mid - to mid end 
s = ("hello student how are you ?")
print(s[6:17])

student how

In [31]:
# slicing from mid - to mid end  - and end
s = "hello student how are you ?"
print(s[0:17:2])

hlosuethw

            List in python
can be change
and 
duplicates

    list  are ordered , changeable , and allow to duplicate values

In [2]:
    # creating the list

In [3]:
mylist = ["apple", "banana" , "cherry"]
print(mylist)
print(type(mylist))

['apple', 'banana', 'cherry']
<class 'list'>

In [7]:
    # allow duplicates

mylist = ["apple", "banana" , "cherry" , "apple","cherry"]
print(mylist)
print(type(mylist))

['apple', 'banana', 'cherry', 'apple', 'cherry']
<class 'list'>

In [13]:
    # list data types

list1 = ["apple", "banana" , "cherry" ]
list2 = [2,5,8]
list3 = [22.5,33.6,58.2,58.1]
list4 = [True , False ,True]
print(list1)
print(list2)
print(list3)
print(list4)
print(type(list1))

['apple', 'banana', 'cherry']
[2, 5, 8]
[22.5, 33.6, 58.2, 58.1]
[True, False, True]
<class 'list'>

In [15]:
a = [12,22.9,"student", True, False]
print(a)

[12, 22.9, 'student', True, False]

In [19]:
    # length of the list
a = [12,22.9,-9,-55.3,"student","hello",True, False]
print(len(a))

8

In [20]:
b = [15,8,9,3,4,6,7,8,9,25]
print(len(b))

10

In [22]:
    # Access items

thislist = [12,15,26,78,14,25,96,142,52,22,6,5]
print(thislist[6])

96

In [26]:
thislist = [12,15,26,78,14,25,96,142,52,22,6,5]
print(thislist[-2])

6

In [27]:
    # slicing in list

thislist = [12,15,26,78,14,25,96,142,52,22,6,5]
print(thislist[0:5])

[12, 15, 26, 78, 14]

In [35]:
        #jump in slicing
thislist = [12,15,26,78,14,25,96,142,52,22,6,5]
print((thislist[0:13:2]))

[12, 26, 14, 96, 52, 6]

In [37]:
    #change item

thislist = ["apple", "banana", "charry"]
thislist[1] = "strawberry"
print(thislist)

['apple', 'strawberry', 'charry']

In [38]:
a = [1,5,12,58,62,9,-5,-3,41,-9]
a [2] = "student" 
print(a)

[1, 5, 'student', 58, 62, 9, -5, -3, 41, -9]

In [41]:
        # change a range of a item values
a = [1,5,12,58,62,9,-5,-3,41,-9,84,963,46]
a [2:4] = ["student" , 'pen','paper']
print(a)

[1, 5, 'student', 'pen', 'paper', 62, 9, -5, -3, 41, -9, 84, 963, 46]

In [42]:
    # for add in list it is (append function)
a = [12,14,1,78,96,25]
a.append(-9)
print(a)

[12, 14, 1, 78, 96, 25, -9]

In [55]:
        # remove list

m = [89,4,69,78,85,'pen',988,21,'paper',"student","hello"]
m.remove('pen')
print(m)

[89, 4, 69, 78, 85, 988, 21, 'paper', 'student', 'hello']

In [56]:
        # reverse
mylist = [1,2,3,4,5,6,'python','data']
mylist.reverse()
print(mylist)

['data', 'python', 6, 5, 4, 3, 2, 1]

In [62]:
        # want sum 
l = [14,15,12,78,-9,23,-8,52,74,89,25,102,8]
print(type(l))
print(len(l))
a = 0
for i in range(13):
    a = a + l[i]
    i = i + 1
print("the sum of a list is " , a)

<class 'list'>
13
the sum of a list is  475

In [1]:
       # mul of list
l = [1,2,3,4,5,6,7,8,9]
print(type(l))
print(len(l))
a = 1
for i in range(9):
    a *=  l[i]
    
    print("the multiply of the list is " , a)

<class 'list'>
9
the multiply of the list is  1
the multiply of the list is  2
the multiply of the list is  6
the multiply of the list is  24
the multiply of the list is  120
the multiply of the list is  720
the multiply of the list is  5040
the multiply of the list is  40320
the multiply of the list is  362880

In [76]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(type(l))  # This will print: <class 'list'>
print(len(l))   # This will print: 9

a = 1  # Start with 1 because multiplying by 1 won't change the result
for i in range(len(l)):  # Loop through each element of the list
    a *= l[i]  # Multiply the current element to 'a'

print("The multiplication of the list is:", a)  # Final result after loop ends

<class 'list'>
9
The multiplication of the list is: 362880




    Tuples in python :

    tuples are ordered , unchangeable , and allow to duplicate values

In [3]:
# creating a tuples

my_tuple = (1,2,3,4)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3, 4)
<class 'tuple'>

In [6]:
# it can be any thinf int,float, string,complexx etc 
my_tuple = (89,4,69,78,85,'pen',988,21, 4+5j ,'paper',"student","hello")
print(my_tuple)

(89, 4, 69, 78, 85, 'pen', 988, 21, (4+5j), 'paper', 'student', 'hello')

In [7]:
# empty tuple

my_tuple = ()
print(my_tuple)
print(type(my_tuple))

()
<class 'tuple'>

In [9]:
# nested tuples

a  = ("data", [1,2,3],(4,5,6))
print(a)
print(type(a))

('data', [1, 2, 3], (4, 5, 6))
<class 'tuple'>

In [10]:
# creating a tuple with a item

v = ("hello")
print(v)
print(type(v))

hello
<class 'str'>

In [12]:
v2 = ("hello",)
print(v2)
print(type(v2))

('hello',)
<class 'tuple'>

In [14]:
v3 = (5)
print(v3)
print(type(v3))

5
<class 'int'>

In [15]:
# tuple constructor

a = tuple(("a","b","C"))
print(a)
print(type(a))

('a', 'b', 'C')
<class 'tuple'>

In [16]:
# how to do indexing
#it is  a  positive indexxing

a  =  (47,85,95,65,45,52,5,9,3,1,7)
print(a[4])

45

In [17]:
#it is a negative indexing

a  =  (47,85,95,65,45,52,5,9,3,1,7)
print(a[-4])

9

In [23]:
a  =  (47,85,95,65,45,52,5,9,3,1,7,"hello",'python')
print(a[12])

python

In [36]:
# sclicing in tuples

a = (14,51,25,36,78,96,4525,4,55,99,85,77,56,5,651,651,61,6)
print(len(a))
print(a[:8])
print(type(a))

18
(14, 51, 25, 36, 78, 96, 4525, 4)
<class 'tuple'>

In [37]:
a = (14,51,25,36,78,96,4525,4,55,99,85,77,56,5,651,651,61,6)
print(len(a))
print(a[:])
print(type(a))

18
(14, 51, 25, 36, 78, 96, 4525, 4, 55, 99, 85, 77, 56, 5, 651, 651, 61, 6)
<class 'tuple'>

In [40]:
a = (14,51,25,36,78,96,4525,4,55,99,85,77,56,5,651,651,61,6)
print(len(a))
print(a[::2])
print(type(a))

18
(14, 25, 78, 4525, 55, 85, 56, 651, 61)
<class 'tuple'>

In [41]:
#how to reverse

a = (14,51,25,36,78,96,4525,4,55,99,85,77,56,5,651,651,61,6)
print(len(a))
print(a[::-2])
print(type(a))

18
(6, 651, 5, 77, 99, 4, 96, 36, 51)
<class 'tuple'>

In [42]:
t = (1,2,3,4,5,6,7,8)
print(t[::])
print(t[3:])
print(t[:4])
print(t[-2:-5])

(1, 2, 3, 4, 5, 6, 7, 8)
(4, 5, 6, 7, 8)
(1, 2, 3, 4)
()

In [43]:
t = (44,55,663,8,44,85)
print(t)
print(type(t))

(44, 55, 663, 8, 44, 85)
<class 'tuple'>

In [44]:
# convert tuples to list the again convert list to tuple

a =(25,26,27,28,29)
y = list(a)
y.append(30)
a = tuple(y)
print(a)

(25, 26, 27, 28, 29, 30)

In [45]:
# convert tuples to list the again convert list to tuple 
# to remove

a =(25,26,27,28,29)
y = list(a)
y.remove(28)
a = tuple(y)
print(a)

(25, 26, 27, 29)

In [53]:
# for delete tuples
a = (1,2,3,4,5,6,7,8,9)
del a 
print(a)

NameError: name 'a' is not defined

In [48]:
#   loop 

T = ("a",'b','c')
for x in T:
    print(x)

a
b
c

In [49]:
    #join two tuples

t1 = ('a','b','c')
t2 = (1,5,8,96)
t3 = t1 + t2
print(t3)

('a', 'b', 'c', 1, 5, 8, 96)

In [55]:
    # multiply

a = ('apple','data','python') 
b = a*2
c = a * 4
print(b)
print(c)

('apple', 'data', 'python', 'apple', 'data', 'python')
('apple', 'data', 'python', 'apple', 'data', 'python', 'apple', 'data', 'python', 'apple', 'data', 'python')

In [56]:
t = (1,2,3,4,5,6,7,8)
print(t*2)
print(t+t+t)
print(t+t)
print(len(t))

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
8

In [62]:
t = ()
i = 0
for x in i<=5:

    num = int(input("enter the values"))
    t = t + (num,)
    i = i + 1
    print(x)

enter the values 10

(10,)

enter the values 20

(10, 20)

enter the values 30

(10, 20, 30)

enter the values 40

(10, 20, 30, 40)

enter the values 50

(10, 20, 30, 40, 50)

enter the values 60

(10, 20, 30, 40, 50, 60)

In [64]:
t = ()
i = 0

while i <= 5:
    num = int(input("enter the values"))
    t = t + (num,)
    i = i + 1
    print(t)

enter the values 10

(10,)

enter the values 20

(10, 20)

enter the values 30

(10, 20, 30)

enter the values 40

(10, 20, 30, 40)

enter the values 50

(10, 20, 30, 40, 50)

enter the values 60

(10, 20, 30, 40, 50, 60)

             Dictionary in python

             we can add , remove , 
             it is dynamic

             it is ordered , changeable , does not allow duplicates

             it use key : value pair

In [72]:
a = {
    "ID" : "123abc" , 
    "color" : "red",
    "year" : 2001
}
print(a)
print(type(a))
print(len(a))

{'ID': '123abc', 'color': 'red', 'year': 2001}
<class 'dict'>
3

In [73]:
# check it is order or not

a = {
    "ID" : "123abc" , 
    "color" : "red",
    "year" : 2001
}
print(a)
print(type(a))
print(len(a))
print(a["color"])

{'ID': '123abc', 'color': 'red', 'year': 2001}
<class 'dict'>
3
red

In [76]:
# check if it allow duplicate or not

a = {
    "ID" : "123abc" , 
    "color" : "red",
    "year" : 2001,
    "year" : 2024
}
print(a)
print(type(a))
print(len(a))

{'ID': '123abc', 'color': 'red', 'year': 2024}
<class 'dict'>
3

In [86]:
# length of dictionary
a = {
    "ID" : "123abc" , 
    "color" : "red",
    "year" : 2001,
    "dict" : [12,2,3,4,5],
    "b" : (12,23,3.5,5),
    "c" : False,

}

print(a)
print(type(a))
print(len(a))

{'ID': '123abc', 'color': 'red', 'year': 2001, 'dict': [12, 2, 3, 4, 5], 'b': (12, 23, 3.5, 5), 'c': False}
<class 'dict'>
6

In [96]:
a = dict(name = "yash", age = 23 , num = 8850184614)
print(a)
print(type(a))

{'name': 'yash', 'age': 23, 'num': 8850184614}
<class 'dict'>

In [97]:
a = dict(name = "yash", age = 23 , num = 8850184614)
print(a.get("name"))
print(type(a))

yash
<class 'dict'>

In [98]:
a = dict(name = "yash", age = 23 , num = 8850184614)

x = a.keys()

x

dict_keys(['name', 'age', 'num'])

In [99]:
a = dict(name = "yash", age = 23 , num = 8850184614)

y = a.values()

y

dict_values(['yash', 23, 8850184614])

In [104]:
 # how to change 

a = {
    'name' : "yash", 
    'age' : 23 , 
    'num' : 8850184614
}
a['age'] = 24
print(a)

{'name': 'yash', 'age': 24, 'num': 8850184614}

In [109]:
 # how to add using update method

a = {
    'name' : "yash", 
    'age' : 23 , 
    'num' : 8850184614
}
a.update({"mail" : "parekhyash5@gmail.com" }) 
print(a)

{'name': 'yash', 'age': 23, 'num': 8850184614, 'mail': 'parekhyash5@gmail.com'}

In [110]:
#how to delete
a = {
    'name' : "yash", 
    'age' : 23 , 
    'num' : 8850184614
}
a.pop('age')
print(a)

{'name': 'yash', 'num': 8850184614}

In [118]:
a = {
    'name' : "yash", 
    'age' : 23 , 
    'num' : 8850184614,
    '1':'59'
}
del a['age']
print(a)

{'name': 'yash', 'num': 8850184614, '1': '59'}

In [114]:
a = {
    'name' : "yash", 
    'age' : 23 , 
    'num' : 8850184614
}
del a
print(a)

NameError: name 'a' is not defined

In [117]:
#clear  method
a = {
    'name' : "yash", 
    'age' : 23 , 
    'num' : 8850184614,
    '1':'59'
}
a.clear()
print(a)
print(type(a))

{}
<class 'dict'>

In [119]:
#concanination

dict1  = {1: 10, 2:20}
dict2 = {3:30,4:40}
dict3 = {5:50,6:60}
dict4 ={}
for d in (dict1,dict2,dict3): dict4.update(d)
print(dict4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [120]:
d = dict()
for x in range(1,16):
    d[x] = x**2
    print(d)

{1: 1}
{1: 1, 2: 4}
{1: 1, 2: 4, 3: 9}
{1: 1, 2: 4, 3: 9, 4: 16}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [121]:
e = {
    'name' : "yash", 
    'age' : 23 , 
    'num' : 8850184614,
    '1':'59'
    
}
print(e['name'])

yash


        Sets 
it can be simply as a well-defined collection of object

sets are used to store multiple items

it is a collection of unordered , unchangeable , unindexed

In [1]:
    #creating a set 
a = {"animals" , 'ball' , 'cat'}
print(a)
print(type(a))

{'animals', 'ball', 'cat'}
<class 'set'>

In [7]:
# set item are unordered

a = {'balls','animals', 'cat'}

print(a)

{'balls', 'animals', 'cat'}

In [6]:
a = {'animals', 'balls', 'cat'}
for x in a:
    print(x)

animals
balls
cat

In [10]:
        #duplicates not allowed

a = {'balls','animals', 'cat', 'balls',  'animal'}

print(a)

{'balls', 'animals', 'animal', 'cat'}

In [14]:
      #True and 1 is consider the same value

a = {'balls','animals', 'cat', 'balls',  'animal',1,2,3,True,False}

print(a)

{False, 1, 2, 3, 'animals', 'balls', 'animal', 'cat'}

In [15]:
#get a length of a set

a = {'balls','animals', 'cat', 'balls',  'animal',1,2,3,True,False}
print(a)
print(len(a))
print(type(a))

{False, 1, 2, 3, 'animals', 'balls', 'animal', 'cat'}
8
<class 'set'>

In [19]:
  #  what will  bethe data type
  #  set items - data types

x1 = {1,2,3,4,5}
x2 = {1.2,2.3,3.4,4.5,5.6}
x3 = ('a','b','c')
x4 = {True,False,True}
print(x1,x2,x3,x4)
print(type(x1))

{1, 2, 3, 4, 5} {1.2, 2.3, 3.4, 4.5, 5.6} ('a', 'b', 'c') {False, True}
<class 'set'>

In [20]:
m = {1,5,-8,79,-85,6+4j,'apple',True}
print(m)

{1, (6+4j), 5, 'apple', -8, -85, 79}

In [21]:
x5 = {[1,2,3,4,5]}
print(x5)

TypeError: unhashable type: 'list'

In [22]:
# tuples can be immutable
x5 = {(1,2,3,4,5)}
print(x5)

{(1, 2, 3, 4, 5)}

In [24]:
x5 = {{1:2,3:4}}
print(x5)

TypeError: unhashable type: 'dict'

In [25]:
a = {{1,2,3,4},{5,6,7,8}}
print(a)

TypeError: unhashable type: 'set'

In [26]:
# the set() constructor

iset = set(('aplha'))
print(iset)
print(type(iset))

{'l', 'p', 'a', 'h'}
<class 'set'>

In [28]:
iset = set(('aplha','beta','gamma'))
print(iset)
print(type(iset))

{'beta', 'aplha', 'gamma'}
<class 'set'>

In [30]:
    # creating empty set

a = {}
print(a)
print(type(a))

{}
<class 'dict'>

In [33]:
e = set()
print(e)
print(type(e))

set()
<class 'set'>

In [45]:
# how to acces the item

a = {'a','b','c','d'}

for x in a:
    print(x)
    #print(type(x))

b
a
c
d

In [47]:
        # chack if item is present in the set

a = {'balls','animals', 'cat', 'balls','python','code','data' , 'animal',1,2,3,True,False}

print('code' in a)
print(len(a))

True
11

In [48]:
a = {'balls','animals', 'cat', 'balls','python','code','data' , 'animal',1,2,3,True,False}

print('analyst' in a)

False

In [49]:
    # how to add items

a = {'a','b','c','d'}
a.add(100)
print(a)

{100, 'd', 'c', 'b', 'a'}

In [54]:
a = {'a','b','c','d'}
a.add('e')
print(a)

{'d', 'c', 'b', 'a', 'e'}

In [58]:
    # how to update  in Set

a = {'balls','animals', 'cat', 'balls','python','code','data' , 'animal'}
x = {10,20,30,40,50,60,70}
a.update(x)
print(a)
print(len(a))

{70, 40, 10, 60, 'animals', 50, 'python', 20, 30, 'balls', 'data', 'code', 'animal', 'cat'}
14

In [59]:
    # how to remove set
n = {70, 40, 10, 60, 'animals', 50, 'python', 20, 30, 'balls', 'data', 'code', 'animal', 'cat'}
n.remove(40)
print(n)

{70, 'animal', 10, 'code', 'animals', 50, 'python', 20, 'balls', 'data', 60, 30, 'cat'}

In [61]:
n = {70, 40, 10, 60, 'animals', 50, 'python', 20, 30, 'balls', 'data', 'code', 'animal', 'cat'}
n.remove('python')
print(n)

{70, 40, 'animal', 10, 'code', 'animals', 50, 20, 'balls', 'data', 60, 30, 'cat'}

In [62]:
        # how to use pop function 
    # it remove the item randomly

n1 = {70, 40, 10, 60, 'animals', 50, 'python', 20, 30, 'balls', 'data', 'code', 'animal', 'cat'}
n1.pop()
print(n1)

{40, 'animal', 10, 'code', 'animals', 50, 'python', 20, 'balls', 'data', 60, 30, 'cat'}

In [63]:
    # how to clear function

n = {70, 40, 10, 60, 'animals', 50, 'python', 20, 30, 'balls', 'data', 'code', 'animal', 'cat'}
n.clear()
print(n)

set()

In [64]:
         # how to use delete function

n = {70, 40, 10, 60, 'animals', 50, 'python', 20, 30, 'balls', 'data', 'code', 'animal', 'cat'}
del n
print(n)

NameError: name 'n' is not defined

In [65]:

        # how to 
        #  join two sets
        # use union function

x = {'a','b','c'}
y ={1,2,3}
z = x.union(y)
print(z)

{'b', 1, 2, 3, 'a', 'c'}

In [66]:
# to find the max and min values

set1 = {5,10,20,30,40,50,60,70}
print("org set element")
print(set1)
print('max value of the set is ')
print(max(set1))
print('min value of these is ')
print(min(set1))
print(type(set1))

org set element
{5, 70, 40, 10, 50, 20, 60, 30}
max value of the set is
70
min value of these is
5
<class 'set'>

In [67]:
 # return a new set of identical items from two sets

set1 = {10,20,30,40,50}
set2 = {30,40,50,70,90}
print(set1.intersection(set2))

{40, 50, 30}

In [71]:
p = {10,20,30,40,50}
print(len(p))
print(max(p))
print(min(p))
print(list(p))
print(tuple(p))
print(type(p))

5
50
10
[50, 20, 40, 10, 30]
(50, 20, 40, 10, 30)
<class 'set'>